<VirtualHost *:80>
  ServerName register.flydragondesign.com 
  Redirect / https://register.flydragondesign.com/
</VirtualHost>

<VirtualHost *:443>
  SSLEngine on
  SSLProtocol all -SSLv2
  SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
  SSLCertificateFile /etc/apache2/ssl/server.crt
  SSLCertificateKeyFile /etc/apache2/ssl/server.key

  ServerAdmin admin@example.com
  DocumentRoot /path/to/register.flydragondesign.com/htdocs
  ServerName register.flydragondesign.com
  CustomLog "|/usr/sbin/rotatelogs /path/to/register.flydragondesign.com/apache-logs/ssl_access_log 5M" "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\""
  ErrorLog "|/usr/sbin/rotatelogs /path/to/register.flydragondesign.com/apache-logs/ssl_error_log 5M"

  WSGIScriptAlias / /path/to/register.flydragondesign.com/fdregister/fdregister/wsgi-virtualenv.py

  Alias /static/admin /path/to/.virtualenvs/fdregister/lib/python2.7/site-packages/django/contrib/admin/static/admin
  Alias /static /path/to/register.flydragondesign.com/fdregister/static
  <Location />
    AuthType Basic
    AuthName "register.flydragondesign.com portal"
    AuthUserFile /path/to/register.flydragondesign.com/auth/htpasswd
    Require valid-user
  </Location>
</VirtualHost>
